html,
body,
.root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Indie Flower', sans-serif;
  font-size: 10px;
}

/*--map--*/
#map{
  height: 100vh;
  width: 100vw;
}

/*--header--*/
header{
  padding: 10px 0;
  background: #621d2b;
  text-align: center;
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 10vh;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  margin: 0 120px 0 150px;
  color: antiquewhite;
  letter-spacing: 0.6em;
}

/*--sidebar--*/
#sidebar {
  width: 20vw;
  height: 100vh;
  position: fixed;
  z-index: 14;
  background: #621d2b;
}

.location{
  color: antiquewhite;
  font-size: 1.8em;
  list-style: none;
  line-height: 2;
}

.location-list{
  margin-top: 50px;
  padding: 15px 10px;
  text-align: center;
}

.input-wrapper {
  margin-top: 80px;
  text-align: center;
}

